
<p class ="uppercase">Students</p>

<p class = "big_title"><a href="/hogwarts/students/new">Create a new student with MAGIC!!</a></p>

<% for student in @students %>
<p>Name: <%= student.pretty_name() %></p>
<p>House: <%= student.house() %></p>
<p>Age: <%= student.age() %></p>
<% end %>
