<p class ="uppercase">Students</p>

<% for student in @students %>
<p>Name: <%= student.pretty_name() %></p>
<p>House: <%= student.house() %></p>
<p>Age: <%= student.age() %></p>
<% end %>

<p><a href="/hogwarts/<%= student.new %>">Create a new student with MAGIC!!</a></p>
